In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
weather=pd.read_csv("weatherAUS.csv")

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
Date             142193 non-null object
Location         142193 non-null object
MinTemp          141556 non-null float64
MaxTemp          141871 non-null float64
Rainfall         140787 non-null float64
Evaporation      81350 non-null float64
Sunshine         74377 non-null float64
WindGustDir      132863 non-null object
WindGustSpeed    132923 non-null float64
WindDir9am       132180 non-null object
WindDir3pm       138415 non-null object
WindSpeed9am     140845 non-null float64
WindSpeed3pm     139563 non-null float64
Humidity9am      140419 non-null float64
Humidity3pm      138583 non-null float64
Pressure9am      128179 non-null float64
Pressure3pm      128212 non-null float64
Cloud9am         88536 non-null float64
Cloud3pm         85099 non-null float64
Temp9am          141289 non-null float64
Temp3pm          139467 non-null float64
RainToday        140787 non-null object
RISK_MM          142193 non-null float64
RainTomorrow     142193 non-null object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [6]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [9]:
weather=weather.iloc[:5000,:]

In [10]:
weather.shape

(5000, 24)

In [12]:
X=weather.iloc[:,:-1]

In [13]:
Y=weather.iloc[:,-1]

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
Date             5000 non-null object
Location         5000 non-null object
MinTemp          4984 non-null float64
MaxTemp          4998 non-null float64
Rainfall         4934 non-null float64
Evaporation      0 non-null float64
Sunshine         0 non-null float64
WindGustDir      4981 non-null object
WindGustSpeed    4981 non-null float64
WindDir9am       4175 non-null object
WindDir3pm       4911 non-null object
WindSpeed9am     4974 non-null float64
WindSpeed3pm     4970 non-null float64
Humidity9am      4980 non-null float64
Humidity3pm      4976 non-null float64
Pressure9am      4986 non-null float64
Pressure3pm      4976 non-null float64
Cloud9am         1282 non-null float64
Cloud3pm         1415 non-null float64
Temp9am          4980 non-null float64
Temp3pm          4976 non-null float64
RainToday        4934 non-null object
RISK_MM          5000 non-null float64
dtypes: float64(17), object(6)
memory usage: 898.6+ KB

In [17]:
#探索缺失值
X.isnull().mean()#均值表示缺失值所占比例

Date             0.0000
Location         0.0000
MinTemp          0.0032
MaxTemp          0.0004
Rainfall         0.0132
Evaporation      1.0000
Sunshine         1.0000
WindGustDir      0.0038
WindGustSpeed    0.0038
WindDir9am       0.1650
WindDir3pm       0.0178
WindSpeed9am     0.0052
WindSpeed3pm     0.0060
Humidity9am      0.0040
Humidity3pm      0.0048
Pressure9am      0.0028
Pressure3pm      0.0048
Cloud9am         0.7436
Cloud3pm         0.7170
Temp9am          0.0040
Temp3pm          0.0048
RainToday        0.0132
RISK_MM          0.0000
dtype: float64

In [18]:
#探索标签的分类
np.unique(Y)

array(['No', 'Yes'], dtype=object)

In [45]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=420)

In [46]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
1809,2014-03-02,Albury,15.8,30.0,0.0,NaN,NaN,NE,20.0,S,...,83.0,36.0,1020.5,1018.4,1.0,NaN,19.0,27.9,No,0.0
4176,2012-05-22,BadgerysCreek,2.1,20.4,0.2,NaN,NaN,W,24.0,N,...,99.0,39.0,1024.1,1020.6,NaN,NaN,10.7,20.1,No,0.0
110,2009-03-22,Albury,14.6,30.0,0.0,NaN,NaN,NE,37.0,E,...,56.0,30.0,1014.8,1012.7,3.0,1.0,18.1,29.0,No,0.0
3582,2010-08-31,BadgerysCreek,8.6,21.8,0.0,NaN,NaN,N,30.0,NaN,...,77.0,44.0,1025.8,1019.9,NaN,NaN,14.1,21.3,No,0.0
2162,2015-02-23,Albury,18.4,35.9,0.0,NaN,NaN,W,50.0,SSE,...,65.0,33.0,1014.6,1010.0,NaN,1.0,23.8,33.8,No,8.0

In [47]:
#恢复索引
for i in [Xtrain, Xtest, Ytrain, Ytest]:
    i.index = range(i.shape[0])

In [48]:
Ytrain.head()

0     No
1     No
2     No
3     No
4    Yes
Name: RainTomorrow, dtype: object

In [49]:
#是否有样本不平衡问题？
Ytrain.value_counts()
#有轻微的不均衡

No     2804
Yes     696
Name: RainTomorrow, dtype: int64

In [50]:
Ytrain.value_counts()[0]/Ytrain.value_counts()[1]

4.028735632183908

In [51]:
Ytest.value_counts()

No     1181
Yes     319
Name: RainTomorrow, dtype: int64

In [52]:
#将标签编码
from sklearn.preprocessing import LabelEncoder
encorder = LabelEncoder().fit(Ytrain)
Ytrain = pd.DataFrame(encorder.transform(Ytrain))
Ytest = pd.DataFrame(encorder.transform(Ytest))

In [53]:
Ytrain.head()

   0
0  0
1  0
2  0
3  0
4  1

In [54]:
Xtrain.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,3490.0,10.067564,5.903171,-3.0,-1.10,0.800,2.20,5.425,9.90,14.900,17.9,22.000,28.3
MaxTemp,3498.0,23.152887,7.115192,6.8,10.60,12.800,14.30,17.500,22.55,28.375,32.7,40.600,45.8
Rainfall,3457.0,2.115360,6.784628,0.0,0.00,0.000,0.00,0.000,0.00,0.400,5.8,32.888,116.0
Evaporation,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunshine,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WindGustSpeed,3485.0,33.355811,13.090899,7.0,13.00,15.000,19.00,24.000,31.00,41.000,50.0,72.000,107.0
WindSpeed9am,3483.0,8.289119,6.795145,0.0,0.00,0.000,0.00,4.000,7.00,11.000,19.0,28.000,48.0
WindSpeed3pm,3481.0,14.407641,7.428907,0.0,0.00,4.000,6.00,9.000,13.00,19.000,24.0,35.000,50.0
Humidity9am,3486.0,74.893861,16.954938,20.0,36.00,46.000,51.00,63.000,76.00,88.000,99.0,100.000,100.0
Humidity3pm,3486.0,48.917958,19.252729,7.0,12.00,20.000,25.00,35.000,48.00,61.000,75.5,98.150,100.0
Pressure9am,3491.0,1018.435291,7.223637,989.8,1002.00,1006.600,1009.20,1013.600,1018.50,1023.400,1027.6,1035.500,1039.9
Pressure3pm,3486.0,1015.760987,7.077382,982.9,999.20,1004.425,1006.80,1010.725,1015.70,1020.600,1024.7,1032.300,1036.8
Cloud9am,895.0,6.451397,2.327646,1.0,1.00,1.000,2.00,5.000,8.00,8.000,8.0,8.000,8.0
Cloud3pm,973.0,5.420349,2.828987,1.0,1.00,1.000,1.00,2.000,7.00,8.000,8.0,8.000,8.0
Temp9am,3486.0,15.174871,5.857341,0.3,3.20,5.700,7.35,10.625,15.25,19.600,22.8,27.800,34.5
Temp3pm,3486.0,21.799484,6.920860,6.4,9.37,11.800,13.30,16.300,21.20,26.800,31.1,39.000,43.7
RISK_MM,3500.0,1.977771,6.648560,0.0,0.00,0.000,0.00,0.000,0.00,0.400,5.0,32.800,116.0

In [55]:
Xtest.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,1494.0,9.841767,5.916222,-2.4,-1.000,0.600,2.03,5.000,9.60,14.600,17.90,21.900,25.2
MaxTemp,1500.0,22.813133,7.080147,8.2,10.500,12.400,14.20,17.200,22.05,28.000,33.00,40.100,44.8
Rainfall,1477.0,1.801083,6.068824,0.0,0.000,0.000,0.00,0.000,0.00,0.200,4.88,30.296,82.4
Evaporation,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunshine,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WindGustSpeed,1496.0,33.446524,13.573871,7.0,13.000,15.000,17.00,24.000,31.00,41.000,52.00,76.100,93.0
WindSpeed9am,1491.0,8.169014,6.829241,0.0,0.000,0.000,0.00,4.000,7.00,11.000,19.00,28.000,39.0
WindSpeed3pm,1489.0,14.490262,7.590321,0.0,0.000,4.000,6.00,9.000,13.00,19.000,24.00,37.000,56.0
Humidity9am,1494.0,75.145917,17.646795,18.0,35.930,46.000,50.00,62.000,77.00,90.000,99.00,100.000,100.0
Humidity3pm,1490.0,49.254362,19.651029,7.0,11.000,19.000,24.00,35.000,48.00,61.000,76.00,97.000,100.0
Pressure9am,1495.0,1018.575652,7.127050,996.0,1002.388,1006.700,1009.00,1013.900,1018.70,1023.200,1027.90,1034.106,1038.9
Pressure3pm,1490.0,1015.826174,6.947263,994.3,1000.767,1004.100,1006.89,1011.125,1015.85,1020.500,1025.01,1031.611,1036.2
Cloud9am,387.0,6.255814,2.520216,0.0,1.000,1.000,2.00,5.000,8.00,8.000,8.00,8.000,8.0
Cloud3pm,442.0,5.418552,2.828254,1.0,1.000,1.000,1.00,2.000,7.00,8.000,8.00,8.000,8.0
Temp9am,1494.0,14.911714,5.932890,1.9,3.086,5.565,7.00,10.225,15.10,19.500,22.50,28.107,33.7
Temp3pm,1490.0,21.452886,6.880612,7.3,9.689,11.645,13.30,15.900,20.60,26.475,31.01,37.822,43.4
RISK_MM,1500.0,2.080667,6.307265,0.0,0.000,0.000,0.00,0.000,0.00,0.600,6.20,32.808,99.2